.thumbnail {
    height: 200px;
    width: 300px;
}

.published {
    font-size: 11px;
}

/* ArticleList {
    display: grid;
    grid-template: repeat(auto) / repeat(auto);
} */

a {
    font-weight: bold;
    text-decoration: none;
    color: black;
}