.details-card {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    width: 750px;
    min-width: 300px;
    align-self: center;
}

.image-box {
    width: 700px;
    align-self: center;
}

.details-image {
    height: 500px;
    width: 700px;
}

.back-button {
    height: 25px;
    width: 25px;
}

@media screen and (max-width: 600px) {
    .image-box, .details-image, .details-card {
        width: 300px;
    }

    .details-image {
        height: 200px;
    }
}
